@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --a: 0;
    --b: 130px;
}

.card:hover {
    background-color: #000000;
    --a: 1;
    --b: 109px;
}

.card>* {
    padding-bottom: 10px;
}

.circle-g {
    cursor: pointer;
    filter: invert(1);
    width: 18px !important;
    padding: 15px 15px 15px 15px !important;
    border-radius: 50px;
    background-color: #7bff00;
    position: absolute;
    /* top: 107px; */
    top: var(--b);
    right: 25px;
    opacity: var(--a);
    transition: all .3s ease-out;
}

.card {
    width: 160px;
    background-color: #111111;
    padding: 13px;
    font-size: 13px;
    position: relative;
    transition: all .1s;
}

* {
    margin: 0;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 90px;
    border-radius: 8px;
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
    margin: 10px;
    margin-left: 5px;
    position: relative;
}

.home ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
}

.library {
    height: 70vh;
    padding: 3px;
    /* height: 100%; */
}

.library nav {
    justify-content: space-between;
    padding: 15px;
}

.lib-icon {
    width: 30px;
}

.circle {
    /* height: 40px; */
    width: 18px !important;
    padding: 5px;
    border-radius: 50px;
    background-color: #cdcece;
    /* filter: invert(0) !important; */
}

.right nav {
    background-color: #101010;
    border-radius: 10px;
    padding: 14px 20px;
    gap: 50px;
    position: relative;
    z-index: 1;
}

.cov {
    position: absolute;
    /* z-index: 2; */
    top: 45px;
    height: 10px;
    width: 98%;
    padding: 9.8px;
    background-color: #101010;
}

.but-nav-1 {
    background-color: #101010;
    border: 0;
    color: white;
    border-radius: 38px;
    font-size: 15px;
    position: absolute;
    padding: 15px 35px;
    top: 10px;
    right: 140px;
}

.but-nav-2 {
    background-color: white;
    font-size: 15px;
    border: 0;
    border-radius: 38px;
    padding: 15px 35px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.but-nav-2:hover {
    position: absolute;
    right: 19px;
    font-size: 16px;
    top: 9px;
    padding: 16px 36px
}

.but-nav-1:hover {
    position: absolute;
    font-size: 16px;
    top: 9px;
    right: 139px;
    margin-right: 0px;
    padding: 16px 36px;
}

/* playlist cards */

.card-container {
    flex-wrap: wrap;
    margin: 10px;
    height: 70vh;
    overflow-y: scroll;
}

.circle-w {
    width: 25px !important;
    padding: 9px 9px 9px 10px !important;
    border-radius: 50px;
    background-color: #ffffff;

}

.circle-w-left {
    width: 15px !important;
    padding: 15px 15px 15px 15px !important;
    border-radius: 50px;
    background-color: #ffffff;

}

.card :first-child {
    width: 93%;
    object-fit: contain;
    /* padding-top: 0px; */
    padding: 5px;
    position: relative;
}

.card p {
    overflow: hidden;
}

/* player */

.player {
    /* height: 90px; */
    width: 100%;
    /* margin: 10px ; */
    margin: 5px;
    padding: 20px 0px;
    background-color: rgb(0, 0, 0);
    /* background-color: rgb(0, 225, 255); */
    position: fixed;
    bottom: -5px;
}

.cen-1 {
    padding-right: 30px;
    width: 20px !important;
}

.cen-2 {
    padding-left: 30px;
    width: 20px !important;
}

.seekbar {
    height: 2px;
    width: 50%;
    background-color: white;
    border: 5px solid rgb(0, 0, 0);
    /* padding-top:10px ; */
    margin: 10px auto;
    border-radius: 20px;
    position: absolute;
    left: 25%;
    bottom: 10px;
    cursor: pointer;
}

.seekbar-circle {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    bottom: -4px;
    transition: left 0.5s;
    left: 0%;

    /* top: 1px; */
}

.lib-sg-1 {
    margin-left: 7px;
}

.lib-foot {
    /* width: 10px; */
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    row-gap: 10px;
    column-gap: 30px;
    font-size: 11px;
    color: #cdcece;
}

.sg-name {
    margin: 5px;
    margin-bottom: 0px;
    height: 62vh;
    overflow-y: scroll;
    border-radius: 3%;
    /* padding: 10px; */
}

.sg-name ul {
    display: flex;
    flex-wrap: wrap;
}

.sg-name ul li {
    list-style-type: none;
    height: 55px;
    width: 100%;
    font-size: 10px;
    padding: 3px 5px;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    /* display: flex;
    justify-content: space-between; */
}

.container-lib-sg {
    justify-content: space-between;
    height: 100%;
}

.lib-sg-2 {
    column-gap: 5px;
    width: 68%;
    flex-wrap: wrap;
}

.lib-sg-2 span:first-child {
    font-size: 13px;
    width: 100%;
    padding-bottom: 5px;
}

.lib-sg-3 {
    gap: 5px;
}

.cen-11 {
    cursor: pointer;
}

.control {
    margin: 1px 1px 10px 1px;
    padding: 1px 1px 10px 1px;
}

.songtime {
    color: white;
    width: 200px;
    text-align: center;
}

.songinfo {
    font-size: larger;
    color: white;
    width: 200px;
    text-align: center;
}

.abovebar {
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.songinfo-div {
    display: flex;
    justify-content: space-around;
    width: 300px;
    align-items: center;
}

.range {
    display: flex;
    align-self: center;
    margin-top: 10px;
}

.volume {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.vol-icon {
    filter: invert(1);
    width: 24px;
    margin-top: 2px;
}

.vol-butt {
    background: none;
    border: none;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    padding: 4px 7px;
    border-radius: 50%;
}

.vol-butt:hover {
    background-color: grey;
}

.range {
    display: flex;
}

.volume {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

input[type="range"] {
    accent-color: #7bff00;
    filter: invert(1);
    width: 70%;
    margin: 0 10px;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 90%;
    height: 4px;
    cursor: pointer;
    color: #12c719;
    border-radius: 15px;
    border: 0px;
}

input[type="range"]::-webkit-slider-thumb {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    color: #12c719;
    cursor: pointer;
    /* -webkit-appearance: none; */
    margin-top: -6px;
    /* display: none; */
}

.search {
    cursor: pointer;
}

.nav-input input {
    color: #ffffff;
    bottom: 15px;
    width: 200%;
    background-color: rgb(36 36 36);
    border-radius: 30px;
    text-align: left;
    border: none;
    height: 35px;
    min-width: 30px;
    padding: 5px 10vw 5px 20px;
}